Ateamproject/.vsconfig
Ateamproject/Assembly-CSharp.csproj
Ateamproject/Ateamproject.sln
Ateamproject/.vs/Ateamproject/project-colors.json
Ateamproject/.vs/Ateamproject/FileContentIndex/21a49f47-2ded-48a7-a9e2-4ac272791f4b.vsidx
Ateamproject/.vs/Ateamproject/FileContentIndex/3cc17768-ab6e-4024-ab1f-c82331dacd29.vsidx
Ateamproject/.vs/Ateamproject/FileContentIndex/8b6e8ab7-f393-4218-aab4-5c131ac8137e.vsidx
Ateamproject/.vs/Ateamproject/FileContentIndex/a0396cc7-b37b-474e-a7eb-920b88d6ca16.vsidx
Ateamproject/.vs/Ateamproject/FileContentIndex/read.lock
Ateamproject/.vs/Ateamproject/v17/.suo
Ateamproject/Library/
Ateamproject/Logs/
Ateamproject/obj/
Ateamproject/UserSettings/
*.sln
*.suo
Ateamproject/Temp/
Ateamproject/.vs/
Ateamproject/Assets/TextMesh Pro